<html>
    <head>
        <title>Admin Panel</title>
    </head>
    <body>
        <center>
            <h4>Welcome {{ username }}</h4>
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
                {% for thing in data %}
                    <tr>
                        <td>{{ thing[0] }}</td>
                        <td>{{ thing[1] }}</td>
                        <td>{{ thing[2] }}</td>
                        <td>{{ thing[3] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </center>
        
    </body>
</html>




  <!--         <table border="1">
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            {% for thing in data %}
                <tr>
                    <td>{{ thing[0] }}</td>
                    <td>{{ thing[1] }}</td>
                    <td>{{ thing[2] }}</td>
                    <td>{{ thing[3] }}</td>
                </tr>
            {% endfor %}
            </table> -->